{% trans_default_domain 'app' %}
<div class="exit-immitation shadow">
    <a href="{{ path('index', {'_switch_user': '_exit'}) }}" class="btn btn-theme-white bg-black">{{ 'extra.exitImmitation'|trans|raw }}</a>
</div>