{% trans_default_domain 'app' %}

{% if isActive is not defined %}
    {% set isActive = false %}
{% endif %}

<div class="d-flex justify-content-center align-items-center my-3">
    <a href="{{ isActive ? path('gdpr_active_privacy_policy') : path('gdpr_privacy_policy', {'gdpr': gdpr.id}) }}" class="btn btn-nav">{{ 'form.entity.termsOfService.label.privacyPolicy'|trans }}</a>
    <button class="btn btn-nav active">{{ 'form.entity.termsOfService.label.termsOfService'|trans }}</button>
</div>
<div class="ql-editor">{{ gdpr.termsOfService|raw }}</div>