{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    {% include 'evaluation/evaluation_question/evaluation_question_answer/_form.html.twig' %}
    <div class="text-end">
        <button type="submit" form="{{ form.vars.id }}" class="btn btn-theme-white bg-blue">{{ 'common.save'|trans }}</button>
    </div>
{% endblock %}