{% extends 'admin/_base_admin.html.twig' %}
{% trans_default_domain 'app' %}

{% block adminContent %}
    <div class="container-fluid p-5">
        {% include '_partials/toasts.html.twig' %}
        {% include 'admin/file/_form.html.twig' with {'title': ('file.title.new'|trans|raw)} %}
    </div>
{% endblock %}