{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    {{ form_start(form, {'attr': {'id' : form.vars.id}}) }}
    {{ form_end(form) }}
    <div class="text-end">
        <button type="submit" form="{{ form.vars.id }}" class="btn btn-theme-white bg-blue">{{ 'common.save'|trans }}</button>
    </div>
{% endblock %}