{% trans_default_domain 'app' %}

<h2 class="mb-3">{{ 'practicalSubmodule.extra.pages'|trans }}</h2>
<div class="text-end">
    <a href="#" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'practicalSubmodule.extra.page'|trans }}</a>
</div>