{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    {% if constant('App\\Entity\\PracticalSubmodule::MODE_OF_OPERATION_SIMPLE') == evaluation.modeOfOperation %}
        {% include 'evaluation/_results_simple.html.twig' %}
    {% else %}
        {% include 'evaluation/_results_advanced.html.twig' %}
    {% endif %}
    <hr>
    <p class="text-center">{{ 'practicalSubmodule.extra.results.final'|trans }}</p>
{% endblock %}