@import "./styles/ress.min";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-utilities.css";

@import "./styles/navigationMain";
@import "./styles/button";
@import "./styles/card";
@import "./styles/form";
@import "./styles/toast.css";

:root {
    --app-font-default: 'Roboto', sans-serif;
    --app-color-blue: #03a9f5;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: var(--app-font-default);
}

header, footer, .body {
    flex-basis: 0;
}

.body {
    flex-grow: 1;
}

.h1-login {
    font-weight: bold;
    color: var(--app-color-blue);
    margin: 0;
}

.raised {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.toasts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 4px;
}
