@import "./styles/ress.min";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-utilities.css";

@import "./styles/navigation.css";
@import "./styles/button.css";
@import "./styles/card.css";
@import "./styles/form.css";
@import "./styles/toast.css";
@import "./styles/table.css";

@import "./styles/course.css";

:root {
    --app-font-default: 'Roboto', sans-serif;
    --app-color-blue: #03a9f5;
    --app-color-dark-blue: #3a526a;
    --app-color-blue-alt: #667e98;
    --app-color-orange: #fe5722;
    --app-color-red: #f51b38
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: var(--app-font-default);
}

header, footer, .body {
    flex-basis: 0;
}

.body {
    flex-grow: 1;
}

.h1-login {
    font-weight: bold;
    color: var(--app-color-blue);
    margin: 0;
}

.raised {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.font-size-default {
    font-size: 1rem !important;
}

.sharp {
    border-radius: 0;
}

.toasts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 4px;
}

header {
    background-color: var(--app-color-dark-blue);
    color: white;
}

.brand {
    font-weight: 500;
    font-size: 2rem;
}

.bg-blue {
    background-color: var(--app-color-blue) !important;
}

.bg-orange {
    background-color: var(--app-color-orange);
}

.bg-red {
    background-color: var(--app-color-red);
}
