.card.evaluation-add {
    background-color: #3A526A5F;
    opacity: 0.5;
    height: 320px !important;
}

.card.evaluation-add:hover {
    opacity: 1;
}

.card.evaluation-add .card-text {
    height: 100%;
}

.card.evaluation-add svg {
    width: 72px;
    height: 72px;
}

.card.evaluation-add svg path {
    fill: var(--app-color-dark-blue);
}

.evaluation-card-details {
    font-size: 0.875rem;
}

.evaluation-card-details-icon {
    height: 18px;
    width: 18px;
    color: var(--app-color-orange);
}

.evaluation-card-name {
    color: black
}

.evaluation-content {
    background-color: white;
    padding: 32px;
    color: rgba(0, 0, 0, 0.7);
}

.evaluation-content :is(p, h1, h2, h3, h4, h5, h6) {
    padding: 0;
}

.evaluation-content hr {
    border-color: rgba(0, 0, 0, 0.25);
    border-width: 1px;
    margin: 24px 0;
}

.mod--evaluation-questions,
.mod--evaluation-evaluators,
.mod--evaluation-question-answers {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 24px;
}

ul.mod--evaluation-questions,
ul.mod--evaluation-evaluators,
ul.mod--evaluation-question-answers {
    list-style: none;
    padding: 0;
}

.mod--evaluation-question,
.mod--evaluation-evaluator,
.mod--evaluation-question-answer  {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 8px 16px;
    border-radius: 8px;
    align-items: center;
    column-gap: 8px;
}

.mod--evaluation-question-details,
.mod--evaluation-evaluator-details,
.mod--evaluation-question-answer-details {
    display: flex;
    flex-direction: column;
}

.mod--evaluation-question-details {
    text-align: center;
}

.mod--evaluation-question-text,
.mod--evaluation-evaluator-text,
.mod--evaluation-question-answer-text {
    font-weight: 600;
}

.mod--evaluation-question-type,
.mod--evaluation-evaluator-type,
.mod--evaluation-question-answer-value {
    font-size: small;
    color: rgba(0, 0, 0, 0.66667);
}

.mod--evaluation-question-actions,
.mod--evaluation-evaluator-actions,
.mod--evaluation-question-answer-actions {
    display: flex;
    column-gap: 12px;
}

.mod--evaluation-question-evaluable svg {
    width: 32px;
    height: 32px;
}

.mod--evaluation-question-evaluable svg.evaluable {
    color: var(--app-color-green);
}

.mod--evaluation-question-evaluable svg.not-evaluable {
    color: var(--app-color-orange);
}

.evaluation-assessment-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.evaluation-assessment-intro p {
    text-align: center;
}