.file-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
}

ul.file-list {
    padding-left: 0;
    list-style: none;
}

.file-list-item {
    background-color: var(--app-color-light-blue);
    border-radius: 4px;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
    display: flex;
    column-gap: 8px;
}

.file-list-item.reordering {
    opacity: 50%;
}

.file-list-item:hover {
    background-color: var(--app-color-blue);
    color: #ffffff;
}

.file-list-item:hover button {
    color: #ffffff;
}

.file-list-item > :is(a, button) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 8px;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
}

.file-list-item a {
    text-decoration: none;
    color: unset;
}

.file-list-item-icon {
    width: 28px;
    opacity: 33.33334%;
}

.file-list-item > .file-list-item-reorder-handle {
    flex-basis: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.file-list-item-reorder-handle > svg {
    width: 18px;
    height: 36px;
    color: rgba(0, 0, 0, 0.5);
}