.lesson-content {
    background-color: white;
    padding: 32px;
    color: rgba(0, 0, 0, 0.7);
}

.lesson-items {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.lesson-item--actions {
    display: flex;
    column-gap: 1rem;
    justify-content: end;
}

.lesson-item--actions svg {
    width: 1.25rem;
    height: 1.25rem;
}

.lesson-item {
    display: flex;
    column-gap: 1rem;
    align-items: start;
}

.lesson-item-icon svg {
    --lesson-item-icon-size: 2rem;
    width: var(--lesson-item-icon-size);
    height: var(--lesson-item-icon-size);
}

.lesson-item-icon.lesson-item-icon--text {
    color: var(--app-color-dark-blue);
}

.lesson-item-icon.lesson-item-icon--file {
    color: var(--app-color-orange);
}

.lesson-item-icon.lesson-item-icon--video {
    color: var(--app-color-blue);
}

.lesson-item-name-and-description {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.lesson-item-name {
    text-decoration: none;
    color: unset;
    font-size: 1.25rem;
}

.lesson-item-description {
    font-size: 0.875rem;
}