.quiz {
    display: flex;
    flex-direction: column;
    height: 500px;
    max-height: 100vh;
    width: 100%;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.quiz-upper, .quiz-lower {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.quiz-upper {
    align-items: center;
    background-color: #e5eefd;
    border-radius: 24px;
}

.quiz-lower {
    align-items: end;
}

.quiz-question-text {
    text-align: center;
    font-size: 1.5rem;
}

.quiz-answers {
    display: flex;
    gap: 16px;
    height: 80%;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
}

:is(.quiz-answers, .quiz-submit).hide {
    display: none;
}

.quiz-answer {
    flex-basis: 0;
    flex-grow: 1;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    opacity: .33;
    font-size: 3rem;
}

.quiz-answer.yes {
    background-color: var(--app-color-green);

}

.quiz-answer.no {
    background-color: var(--app-color-red);
}

.quiz-answer:hover {
    opacity: 1;
}

.quiz-submit {
    flex-basis: 100%;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    opacity: .33;
    background-color: var(--app-color-blue);
    height: 60%;
    font-size: 3rem;
}

.quiz-submit:hover {
    opacity: 1;
}

.quiz-anim-whiteout {
    z-index: 3000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0;
    animation-name: whiteout;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.quiz-anim-correct {
    z-index: 3010;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(.4) translateY(-100%);
    opacity: 1;
    color: var(--app-color-green);
    animation-name: result-success;
    animation-duration: 1.5s;
    animation-delay: 0.26s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.quiz-anim-wrong {
    z-index: 3010;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(.4) translateY(-100%);
    opacity: 1;
    color: var(--app-color-red);
    animation-name: result-success;
    animation-duration: 1.5s;
    animation-delay: 0.26s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

:is(.quiz-anim-correct, .quiz-anim-wrong) > svg {
    width: 40%;
}

@keyframes whiteout {
    0% { opacity: 0; }
    15% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes result-success {
    0% { transform: scaleX(.4) translateY(-100%); opacity: 1;}
    20% { transform: scaleX(.4) translateY(0); opacity: 1; }
    30% { transform: scaleX(1) scaleY(.5) translateY(25%); opacity: 1; }
    60% { transform: scale(1) translateY(0); opacity: 1; }
    82% { transform: scale(1) translateY(0); opacity: 1; }
    100% { transform: scale(1) translateY(0); opacity: 0; }
}

@media screen and (min-width: 576px) {
    .quiz-answers {
        flex-direction: row;
        height: 60%;
    }

    .quiz-submit {
        height: 60%;
    }
}

@media screen and (min-width: 992px) {
    .quiz-submit {
        flex-basis: 50%;
    }
}