.topic-segments {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.topic-segments-divider {
    width: 2px;
    background-color: rgba(0, 0, 0, .1);
    align-self: stretch;
}

.topic-segment {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
}

.topic-segment-title {
    text-align: center;
}

.topic-segment-grid {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.topic-segment-grid > * {
    flex-basis: calc(50% - 16px);
    flex-shrink: 0;
    flex-grow: 0;
}

.learn2apply-arrow {
    width: 192px;
    height: 64px;
    margin: 0 auto;
}

.topic-title {
    font-weight: 600;
    color: var(--app-color-blue);
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
}

.topic-type {
    position: absolute;
    color: white;
    background-color: var(--app-color-blue);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 24px;
    z-index: 1000;
    padding: 8px 18px;
}

.topic-type.learn {
    background-color: var(--app-color-blue);
}

.topic-type.apply {
    background-color: var(--app-color-green);
}

@media screen and (max-width: 1199px) {
    .topic-segment-grid > * {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 767px) {
    .topic-segments {
        flex-direction: column;
    }

    .topic-segments-divider {
        display: none;
    }

    .learn2apply-arrow {
        display: none;
    }

    .topic-segment-grid > * {
        flex-basis: calc(50% - 16px);
    }

    .topic-segment.theory > .topic-segment-title {
        text-align: start;
    }

    .topic-segment.theory > .topic-segment-grid {
        flex-direction: row;
    }
}

@media screen and (max-width: 575px) {
    .topic-segment-grid > * {
        flex-basis: 100%;
    }
}