{% trans_default_domain 'app' %}
<div class="index-banner" style="background-image: url('{{ asset('build/images/bg-index.png') }}')">
	<div id="index-banner-particles" class="index-banner-particles" data-particles></div>
	<div class="container index-banner-wrapper">
		<div class="index-banner-title">{{ 'app.brand.short'|trans }}</div>
		<div class="index-banner-subtitle">{{ 'nav.news'|trans }}</div>
	</div>
</div>