{% extends 'lesson/_base_lesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div class="lesson-sections">
        {% include 'lesson/_show_sectionNav.html.twig' %}
        {% include 'lesson/_show_sectionMain.html.twig' %}
        {% include 'lesson/_show_sectionOther.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quill') }}
    <style>
        .lesson-section-navigation-caption {
            display: flex;
            align-items: center;
            column-gap: 4px;
        }

        .lesson-section-navigation-back-icon {
            height: 1.5rem;
            width: 1.5rem;
            color: var(--app-color-red);
        }
    </style>
{% endblock %}