{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html>
    <head>
        <style>
            html, body {
                padding: 0;
                margin: 0;
            }

            body {
                font-family: 'Raleway', 'Source Sans 3', sans-serif;
                font-size: 2cm;
                position: relative;
                height: 210mm;
            }

            .section-1, .section-2, .section-3 {
                position: relative;
                height: 100%;
                float: left;
            }

            .section-1 {
                background-color: #3a526a;
                width: 35%;
            }

            .section-1:before, .section-1:after {
                content: "";
                position: absolute;
                left: 25%;
                right: 37%;
                background-color: #fe5722;
                height: 8mm;
            }

            .section-1:before {
                top: 0;
            }

            .section-1:after {
                bottom: 0;
            }

            .section-2 {
                width: 62%;
            }

            .section-3 {
                background-color: #3a526a;
                width: 3%;
            }

            .section-3:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 50%;
                background-color: #fe5722;
            }

            .title-wrapper {
                position: absolute;
                font-weight: bold;
                top: 10mm;
                left: 25%;
                right: 0;
                bottom: 10mm;
                text-align: center;
            }

            .title {
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 2.7cm;
                color: white;
                -webkit-transform: translateY(-50%) rotate(-90deg) translateY(-78mm);
            }

            .subtitle {
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 1.25cm;
                color: white;
                white-space: nowrap;
                -webkit-transform: translateY(-50%) rotate(-90deg) translateY(-20mm);
            }
        </style>
    </head>
    <body>
        <div class="section-1">
            <div class="title-wrapper">
                <div class="title">CERTIFICATE</div>
                <div class="subtitle">OF COMPLETION</div>
            </div>
        </div>
        <div class="section-2"></div>
        <div class="section-3"></div>
    </body>
</html>