{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html>
    <head>
        <style>
            html, body {
                padding: 0;
                margin: 0;
            }

            body {
                font-family: 'Raleway', sans-serif;
                font-size: 2cm;
            }

            .page {
                display: block;
                position: relative;
                height: 273.1mm;
            }

            .section-1, .section-2, .section-3 {
                position: relative;
                height: 100%;
                float: left;
            }

            .section-1 {
                background-color: #3a526a;
                width: 35%;
            }

            .section-1:before, .section-1:after {
                content: "";
                position: absolute;
                left: 25%;
                right: 37%;
                background-color: #fe5722;
                height: 8mm;
            }

            .section-1:before {
                top: 0;
            }

            .section-1:after {
                bottom: 0;
            }

            .section-1-divider-bottom {
                width: 1px;
                height: 45mm;
                background-color: #ffffff;
                position: absolute;
                bottom: 16mm;
                right: 58mm;
            }

            .section-1-divider-top {
                width: 1px;
                height: 45mm;
                background-color: #ffffff;
                position: absolute;
                top: 16mm;
                right: 58mm;
            }

            .section-1-divider-top.alt, .section-1-divider-bottom.alt {
                height: 28mm;
            }

            .section-2 {
                position: relative;
                width: 62%;
            }

            .section-2-inner {
                position: absolute;
                top: 10mm;
                left: 5mm;
                right: 5mm;
                bottom: 5mm;
                font-size: 7mm;
            }

            .section-2-divider {
                width: 1px;
                height: 25mm;
                background-color: #000000;
                position: absolute;
                bottom: -5mm;
                right: 48mm;
            }

            .section-2-divider.alt {
                right: 67mm;
            }

            .section-3 {
                background-color: #3a526a;
                width: 3%;
            }

            .section-3:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 50%;
                background-color: #fe5722;
            }

            .title-wrapper {
                position: absolute;
                font-weight: bold;
                top: 10mm;
                left: 4%;
                right: 0;
                bottom: 10mm;
                text-align: center;
            }

            .title {
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 3.9cm;
                color: white;
                -webkit-transform: translateY(-50%) rotate(-90deg) translateY(-78mm);
            }

            .subtitle {
                position: absolute;
                top: 50%;
                left: 21mm;
                font-size: 1.75cm;
                color: white;
                white-space: nowrap;
                -webkit-transform: translateY(-50%) rotate(-90deg) translateY(-20mm);
            }

            .title-wrapper.alt .title {
                left: -2mm;
            }

            .title-wrapper.alt .subtitle {
                left: 2mm;
            }

            .certificant, .course, .for {
                text-align: center;
                font-size: 10mm;
                margin-bottom: 2mm;
                padding-left: 22mm;
            }

            .certificant, .course {
                font-weight: bold;
                color: #fe5722;
            }

            .course {
                margin-bottom: 20mm;
            }

            .mb-cert {
                margin-bottom: 7mm;
            }

            ul {
                margin: 0;
                padding-left: 6.1mm;
            }

            li {
                margin-top: 2mm;
            }

            .issue-date {
                position: absolute;
                bottom: 0;
                right: 0;
                text-align: left;
            }

            .issue-date-label {
                color: #fe5722;
                margin-bottom: 3mm;
            }

            .certified-by {
                position: absolute;
                bottom: 0;
                right: 60mm;
                text-align: right;
            }

            .certified-by.alt {
                right: 80mm;
            }

            .certified-by-label {
                color: #fe5722;
                margin-bottom: 3mm;
            }

            .ribbon {
                position: absolute;
                height: 45mm;
                width: 45mm;
                border-radius: 50%;
                background-color: #ffffff;
                border: solid 2mm #fe5722;
                right: -24.5mm;
                top: 5mm;
            }

            .ribbon-logo {
                margin-top: 7mm;
                text-align: center;
            }

            .ribbon-logo > img {
                width: 38mm;
            }

            .ribbon-website {
                text-align: center;
                white-space: nowrap;
                font-size: 4mm;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="page">
            {% include 'pdf/_certificate_page.html.twig' with {'strings': strings[defaultLocale]} %}
        </div>
        <div class="page">
            {% include 'pdf/_certificate_page.html.twig' with {'strings': strings[alternateLocale], 'isAlt': true} %}
        </div>
    </body>
</html>