{% trans_default_domain 'app' %}
<div class="index-banner" style="background-image: url('{{ asset('build/images/bg-module-theory.png') }}'); background-position: center 60%">
	<div id="index-banner-particles" class="index-banner-particles" data-particles></div>
	<div class="container index-banner-wrapper">
		<div class="index-banner-title">{{ 'app.brand.short'|trans }}</div>
		<div class="index-banner-subtitle">{{ 'topic.title.index'|trans }}</div>
	</div>
</div>