{% trans_default_domain "mail" %}
{% set passwordResetUrl = url('security_password_reset', {'passwordResetToken': user.passwordResetToken}) %}
<p>{{ "mail.passwordReset.body.greeting"|trans }}</p>
<p>
    {{ "mail.passwordReset.body.text"|trans({'%url%': passwordResetUrl})|raw }}
</p>
<p>
    {{ "mail.passwordReset.body.goodbye"|trans }}
    <br>
    {{ "mail.signature"|trans }}
</p>